.iconParkContainer {
    border: 1px solid #c1c1c1;
    width: 400px;
    height: 500px;
    padding: 20px;
}

.iconParkContainer div {
    margin: 35px 0;
}

.icon-park-excel:hover {
    color: red
}
